<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bywin.business.mapper.federal.DataNodeMapper">

    <sql id="Where_Column">



    </sql>

    <select id="findBeanList"    parameterType="Object"  resultType="cn.bywin.business.bean.federal.FDataNodeDo">
        SELECT a.* from fl_data_node a
        where 1=1
        <include refid="Where_Column" />
        order by a.created_time desc
        ${pageInfo}
    </select>

    <select id="findBeanCnt" parameterType="Object" resultType="Long">
        SELECT count(*) cnt from fl_data_node a
        where 1=1
        <include refid="Where_Column" />
    </select>


</mapper>