<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bywin.business.mapper.federal.DataDescMapper">

    <sql id="Where_Column">


        <if test="edsName != null ">
            and eds_name like #{edsName}
        </if>

        <if test="creatorAccount != null ">
            and creator_account = #{creatorAccount}
        </if>

    </sql>

    <select id="findBeanList"    parameterType="Object"  resultType="cn.bywin.business.bean.federal.FlDataDescDo">
        SELECT a.* from fl_data_desc a
        where 1=1

        <include refid="Where_Column" />
        order by a.eda_order
        ${pageInfo}
    </select>

    <select id="findBeanCnt" parameterType="Object" resultType="Long">
        SELECT count(*) cnt from fl_data_desc a
        where 1=1
        <include refid="Where_Column" />
    </select>


    <select id="findBeanFlList"    parameterType="Object"  resultType="cn.bywin.business.bean.view.federal.FDataPartyVo">
        SELECT a.*,np.name as nodeName  from fl_data_party a ,fl_node_party np  where a.node_id=np.id and np.is_open=1 and a.status=1
        and (a.is_show=1  or (a.is_show=2 and a.id in ( SELECT data_id from
        fl_data_node where node_id=#{nodeInId}) ))
        <if test="name != null ">
            and a.name like #{name}
        </if>
        <if test="nodeId != null ">
            and np.id = #{nodeId}
        </if>
        order by a.created_time desc
        ${pageInfo}
    </select>

    <select id="findBeanFlCnt" parameterType="Object" resultType="Long">
        SELECT count(*) cnt from fl_data_party a ,fl_node_party np  where a.node_id=np.id and np.is_open=1 and a.status=1
        and (a.is_show=1  or (a.is_show=2 and a.id in ( SELECT data_id from
        fl_data_node where node_id=#{nodeInId}) ))
        <if test="name != null ">
            and a.name like #{name}
        </if>
        <if test="nodeId != null ">
            and np.id = #{nodeId}
        </if>
    </select>

    <select id="findBeanProjectList"    parameterType="Object"  resultType="cn.bywin.business.bean.federal.FDataPartyDo">
        SELECT a.* from fl_data_party a join fl_project_data p on
        a.id=p.data_id and p.project_id =#{projectId}
        where 1=1
        <include refid="Where_Column" />
        order by a.created_time desc
        ${pageInfo}
    </select>

    <select id="findBeanProjectCnt" parameterType="Object" resultType="Long">
        SELECT count(*) cnt from fl_data_party a join fl_project_data p
         on a.id=p.data_id and p.project_id =#{projectId}
        where 1=1
        <include refid="Where_Column" />
    </select>

    <select id="selectByProjectId"     resultType="cn.bywin.business.bean.federal.FDataPartyDo">
        SELECT * FROM fl_data_party  d JOIN fl_project_data g ON g.data_id = d.id AND g.project_id =#{projectId}
        AND d.node_id in
        <foreach item="id" collection="ids" index="index" open="(" close= ")" separator=",">
            #{id}
        </foreach>
        where d.status !=-1
    </select>

    <select id="selectByModelId"     resultType="cn.bywin.business.bean.federal.FDataPartyDo">
        SELECT * FROM fl_data_party  d
        JOIN fl_model_data m ON m.data_id = d.id AND m.model_id =#{modelId}
         AND d.node_id in
        <foreach item="id" collection="ids" index="index" open="(" close= ")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="findByAllIds"     resultType="cn.bywin.business.bean.federal.FDataPartyDo">
        SELECT * FROM fl_data_party where  id in
        <foreach item="id" collection="ids" index="index" open="(" close= ")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>