<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bywin.business.mapper.system.SysUserRoleMapper">
    <sql id="Where_Column">



        <if test="menuName != null ">
            and menu_name = #{menuName}
        </if>


        <if test="creatorId != null ">
            and creator_Id = #{creatorId}
        </if>

    </sql>

    <select id="findBeanList"    parameterType="Object"  resultType="cn.bywin.business.bean.system.SysUserRoleDo">
        SELECT * from sys_user_role
        where 1=1
        <include refid="Where_Column" />
        order by type_id,para_order ,para_code

        ${pageInfo}

    </select>

    <select id="findBeanCnt"    parameterType="Object"  resultType="Long">
        SELECT count(*) cnt from sys_user_role
        where 1=1
        <include refid="Where_Column" />
    </select>

</mapper>