<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bywin.business.mapper.olk.OlkDatabaseMapper">
    <sql id="Where_Column">

        <if test="dbName != null ">
            and db_name like #{dbName}
        </if>

        <if test="qryCond != null ">
            and ( db_name like #{qryCond} or db_chn_name like #{qryCond}  )
        </if>

        <if test="dbType != null ">
            and db_type = #{dbType}
        </if>

        <if test="id != null ">
            and id = #{id}
        </if>

        <if test="userId != null ">
            and user_id= #{userId}
        </if>

        <if test="userAccount != null ">
            and user_account= #{userAccount}
        </if>

        <if test="catalogType != null ">
            and catalog_type = #{catalogType}
        </if>

        <choose>
            <when test="dbsourceId == null or dbsourceId.length() == 0 ">

            </when>
            <when test="dbsourceId != null and dbsourceId == 'notdc'.toString() ">
                and dbsource_id != 'dchetu'
            </when>

            <when test="dbsourceId != null and dbsourceId !='notdc'.toString() ">
                and dbsource_id = #{dbsourceId}
            </when>

        </choose>

        <if test="creatorId != null ">
            and creator_Id = #{creatorId}
        </if>

        <if test="enable != null ">
            and enable = #{enable}
        </if>

    </sql>

    <select id="findBeanList"    parameterType="Object"  resultType="cn.bywin.business.bean.olk.TOlkDatabaseDo">
        SELECT * from t_olk_database
        where 1=1
        <include refid="Where_Column" />

        order by created_time desc

        ${pageInfo}

    </select>

    <select id="findBeanCnt"    parameterType="Object"  resultType="Long">
        SELECT count(*) cnt from t_olk_database
        where 1=1
        <include refid="Where_Column" />
    </select>

</mapper>