<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bywin.business.mapper.olk.OlkFieldMapper">
    <sql id="Where_Column">

        <if test="fieldName != null ">
            and field_name like #{fieldName}
        </if>

        <if test="qryCond != null ">
            and ( field_name like #{qryCond}  )
        </if>

        <if test="id != null ">
            and id = #{id}
        </if>

        <if test="dbId != null ">
            and db_id = #{dbId}
        </if>

        <if test="schemaId != null ">
            and schema_id = #{schemaId}
        </if>

        <if test="objectId != null ">
            and object_id = #{objectId}
        </if>

        <if test="creatorId != null ">
            and creator_Id = #{creatorId}
        </if>

        <if test="enable != null ">
            and enable = #{enable}
        </if>

    </sql>

    <select id="findBeanList"    parameterType="Object"  resultType="cn.bywin.business.bean.olk.TOlkFieldDo">
        SELECT * from t_olk_field
        where 1=1
        <include refid="Where_Column" />
        order by norder
        ${pageInfo}

    </select>

    <select id="findBeanCnt"    parameterType="Object"  resultType="Long">
        SELECT count(*) cnt from t_olk_field
        where 1=1
        <include refid="Where_Column" />
    </select>


</mapper>