<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bywin.business.mapper.olk.OlkModelComponentMapper">

    <sql id="Where_Column">

        <if test="status != null ">
            and status != #{status}
        </if>

    </sql>

    <select id="findBeanList"    parameterType="Object"  resultType="cn.bywin.business.bean.view.olk.TOlkModelComponentVo">
        SELECT a.* from t_olk_model_component a
        where 1=1
        <include refid="Where_Column" />
        order by a.sorts asc
        ${pageInfo}
    </select>

    <select id="findBeanCnt" parameterType="Object" resultType="Long">
        SELECT count(*) cnt from t_olk_model_component a
        where 1=1
        <include refid="Where_Column" />
    </select>
</mapper>